/* ########################################### */
/* ###              COLORS                 ### */
/* ########################################### */

$primary: black;


/* ########################################### */
/* ###              FONTS                  ### */
/* ########################################### */

$headings-font-family: 'Arial', sans-serif;
$headings-font-style: normal;
$headings-font-weight: 700;